ClientAlumnes/src/META-INF/wsdl/localhost_8080/WSAlumnes/WSAlumnes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="getNota" type="tns:getNota"/>

<xs:element name="getNotaResponse" type="tns:getNotaResponse"/>

<xs:element name="nota" type="tns:nota"/>

<xs:complexType name="getNota">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getNotaResponse">
<xs:sequence>
<xs:element name="return" type="tns:nota" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nota">
<xs:sequence>
<xs:element name="idAssignatura" type="xs:string" minOccurs="0"/>
<xs:element name="nomAssignatura" type="xs:string" minOccurs="0"/>
<xs:element name="nota" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>