FraseClient/src/META-INF/wsdl/localhost_8084/Frase/Frase.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://exam/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://exam/">

<xs:element name="numLletres" type="tns:numLletres" />

<xs:element name="numLletresResponse" type="tns:numLletresResponse" />

<xs:element name="numParaules" type="tns:numParaules" />

<xs:element name="numParaulesResponse" type="tns:numParaulesResponse" />

<xs:complexType name="numLletres">
<xs:sequence>
<xs:element name="frase" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="numLletresResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="numParaules">
<xs:sequence>
<xs:element name="frase" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="numParaulesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
</xs:schema>